textarea{
    width: 40%;
    height: 100%;
}

#eventInput{
    width: 80%;
    height: 25px;
}

#namesInput{
    width: 40%;
    height: 50px;
}

#dateInput{
    width: 40%;
    height: 50px;
}
